:root {
    --base-font: 'Poppins', sans-serif;

    /*Colors*/
    --white: #FCFCFC;
    --black: #020307;
    --accent: #0732B5;
    --grey: #232323;
    --grey-1: #A5A5A5;

    /*Text and Spacing*/
    --base-size: 24px;
    --text-size-0: calc(var(--base-size) * 2.7);
    --text-size-1: calc(var(--base-size) * 1.8);
    --text-size-2: calc(var(--base-size) * 1.6);
    --text-size-3: calc(var(--base-size) * 1.4);
}

body {
    font-family: var(--base-font);
    font-size: var(--base-size);
    color: var(--black);
    line-height: 1.2;
}

h1 {
    font-size: var(--text-size-1);
    font-weight: bold;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - (var(--base-size) * 2));
    padding: var(--base-size);
}

.app-title {
    max-width: 260px;
    flex: 1;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 4;
}

.main__player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: var(--base-size) 0;
}

.player__avatar {
    font-size: var(--text-size-0);
    margin-right: calc(var(--base-size) * .5);

}

.player__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player__item p {
    color: var(--grey-1);
    font-size: var(--base-size);
}

.btn {
    background-color: var(--accent);
    color: var(--white);
    padding: calc(var(--base-size) * .5);
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
}

.loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 4;
}

.loading-spinner:before {
    content: "📄";
    font-size: var(--text-size-1);
    animation: changeLetter 1s linear infinite;
}

.player-selection {
    display: flex;
    flex-direction: column;
    flex: 4;
    justify-content: center;
    max-width: 500px;
    align-self: center;
}

.player-selection__name{
    text-align: center;
    font-size: var(--text-size-2);
    font-weight: 500;
}

.player-selection__characters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.player-selection__characters .character {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid var(--black);
    padding: 5px;
    margin: 0 10px;
}

.player-selection__characters .character.selected {
    color: var(--white);
    background-color: var(--black);
    font-weight: bold;
}

.player-selection__characters .character p {
    font-size: calc(var(--base-size) * .7);
}

.announcement {
    position: absolute;
    top: 45%;
    left: 0;
    width: calc(90% - 40px);
    max-width: 200px;
    margin: 0 calc(50% - 120px);
    padding: 20px;
    font-weight: var(--base-size);
    border-radius: 10px;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.announcement p {
    margin-bottom: var(--base-size);
}

/* HELPER CLASSES */
.hide {
    opacity: 0;
    display: none;
}

/* ANIMATIONS */

@keyframes changeLetter {
    0% {
        content: "📄";
    }
    20% {
        content: "🗿️";
    }
    40% {
        content: "✂️";
    }
    60% {
        content: "📄";
    }
    80% {
        content: "🗿️";
    }
    100% {
        content: "✂️";
    }
}
